
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


.app {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.logo {
  margin-top: 30px;
}

/* modal styling */
.modal {
  position: fixed; 
  z-index: 1;  
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  height: 600px;
  width: 750px;
  text-align: center;
  border-radius: 15px;
}

.modal-header {
  height: 60px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
  display: table-cell;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  /* border: 1px solid; */
}

.close-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: none;
  background-color: rgb(155, 155, 155);
  color: white;
  font-size: 18px;
  margin-right: 100px;
}

/* student styling */

.student-container {
  margin-top: 50px;
  border-bottom: .5px solid rgb(202, 202, 202) ;
}

.student-row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center; */
}

.student-name {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  height: 80px;
  border-top: .5px solid rgb(202, 202, 202);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.student-time {
  width: 50%;
  border-top: .5px solid rgb(202, 202, 202);
  border-left: .5px solid rgb(202, 202, 202);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.student-initials {
  background-color: rgb(150, 132, 179);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
