
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}


.logo {
  margin-top: 30px;
}

.modal {
  /* display: none; */
  position: fixed; 
  z-index: 1;  
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px; */
  /* border: 1px solid #888; */
  height: 600px;
  width: 750px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  border-radius: 15px;
  
}

.modal-header {
  height: 60px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
  outline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
}